[Unit]
Description=AltiWx
Wants=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
User=root
WorkingDirectory=/
ExecStart=altiwx
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
